* {
  box-sizing: border-box;
  margin: 0;
}

.full-height {
  min-height: 100vh;
}

.side-margins-small {
  margin: 0 1rem;
}

.cols-5 {
  width: 20%;
}

.word-card {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code {
  font-family: 'monospace';
  font-size: '1.5rem';
  padding: '0 0.5rem';
}

.key-card {
  height: 3rem;
  width: 3rem;
}