* {
  box-sizing: border-box;
  margin: 0;
}

.full-height {
  min-height: 100vh;
}

.side-margins-small {
  margin: 0 1rem;
}

.right-button {
  margin-left: 7px;
}

.cols-5 {
  width: 20%;
}

#board {
  width: 80%;
}

.word-card {
  height: 17vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-card {
  margin: 1rem;
}

.code {
  font-family: monospace;
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

.clue-form {
  background-color: white;
  width: 20rem;
}

.key-card {
  height: 3rem;
  width: 3rem;
}
